@model DashboardDevaBNI.ViewModels.DetailLoginOTP_ViewModels
@using DashboardDevaBNI.Component;
@using Microsoft.AspNetCore.Http;﻿

@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard Deva</title>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/lib/adminlte-master/plugins/fontawesome-free/css/all.min.css">
	<!-- icheck bootstrap -->
	<link rel="stylesheet" href="~/lib/adminlte-master/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/lib/adminlte-master/dist/css/adminlte.min.css">
</head>
@section Scripts {
	@Html.Partial("_Script")
}
<style>

	.login-page {
		/*background-image: url('lib\\images\\backgroundloginbok1.png');*/
		/*background-image: url('lib\\images\\backgroundloginbok2.png');*/
		/*background-image: url('lib\\images\\backgroundloginbok3.png');*/
		background-image: url('lib/images/backgroundloginbok4.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.card {
		background-color: rgba(240, 240, 240, 0.35);
		backdrop-filter: blur(1px);
	}

</style>
<body class="hold-transition login-page">
	<div class="login-box w-25">
		<!-- /.login-logo -->
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="#" class="h1"><b>Dashboard</b>Deva</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">Masukan Password Baru Anda</p>
				@using (Html.BeginForm("SubmitResetPassword", "Login", FormMethod.Post, new { @id = "form", @class = "smart-form", role = "form" }))
				{
					@Html.AntiForgeryToken()
					@Html.HiddenFor(m => m.ReqEncrypt)

					<div class="input-group mb-3">
						@Html.TextBox("PasswordInput", "", new { @id = "pass", @class = "form-control", @placeholder = "Enter Password", @type = "password", @value = "", @autocomplete = "webauthn" })
						<div id="InputPassword" class="eye-toggle input-group-append">
							<div class="input-group-text">
								<span class="pass-eye2 fas fa-eye-slash"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						@Html.TextBox("PasswordKonfirmasi", "", new { @id = "confirmPass", @class = "form-control", @placeholder = "Konfirmasi Password", @type = "password", @value = "", @autocomplete = "webauthn" })
						<div id="ConfirmPassword" class="eye-toggle input-group-append">
							<div class="input-group-text">
								<span class="pass-eye1 fas fa-eye-slash"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
						</div>
						<!-- /.col -->
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block">Reset Password</button>
						</div>
						<!-- /.col -->
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="w3layouts_more-buttn" style="margin: auto">
								<h3 class="text-center" style="color:red; font-size: 18px">
									@ViewBag.ErrorMessage
								</h3>
							</div>
						</div>
					</div>
				}
				<!-- /.social-auth-links -->
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>

	<!-- Modal OTP -->
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<p>Modal content goes here.</p>
		</div>
	</div>


	<!-- /.login-box -->
	<!-- jQuery -->
	<script src="~/lib/adminlte-master/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/lib/adminlte-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/lib/adminlte-master/dist/js/adminlte.min.js"></script>
	<!-- Validation -->
	<script src="~/lib/adminlte-master/plugins/jquery-validation/jquery.validate.min.js"></script>
	<script src="~/lib/adminlte-master/plugins/jquery-validation/additional-methods.min.js"></script>

	<script>
		$(document).ready(function () {

			$("#ConfirmPassword").on('click', function () {
				togglePasswordVisibility("confirmPass", ".pass-eye1");
			});

			$("#InputPassword").on('click', function () {
				togglePasswordVisibility("pass", ".pass-eye2");
			});

			function togglePasswordVisibility(passwordId, eyeIconClass) {
				var passwordElement = document.getElementById(passwordId);
				if (passwordElement.getAttribute("type") == "password") {
					passwordElement.setAttribute("type", "text");
					$(eyeIconClass).removeClass("fa-eye-slash").addClass("fa-eye");
				} else {
					passwordElement.setAttribute("type", "password");
					$(eyeIconClass).removeClass("fa-eye").addClass("fa-eye-slash");
				}
			}

			ValidationForm();

			function ValidationForm() {
				var MessagePassword;

				$('#form').validate({
					rules: {
						PasswordInput: {
							required: true,
							customPasswordValidation: true
						},
						PasswordKonfirmasi: {
							equalTo: "#pass"
						}
					},
					messages: {
						PasswordInput: {
							customPasswordValidation: function () {
								return MessagePassword;
							}
						},
						PasswordKonfirmasi: {
							equalTo: "Konfirmasi password harus sama dengan password baru"
						}
					},
					errorElement: 'span',
					errorPlacement: function (error, element) {
						error.addClass('invalid-feedback');
						element.closest('.input-group').append(error);
					},
					highlight: function (element, errorClass, validClass) {
						$(element).addClass('is-invalid');
					},
					unhighlight: function (element, errorClass, validClass) {
						$(element).removeClass('is-invalid');
					}
				});

				$.validator.addMethod("customPasswordValidation", function (value, element) {
					var passworda = $("#pass").val();
					const uppercaseLetters = passworda.match(/[A-Z]/g);
					const numbers = passworda.match(/[0-9]/g);
					const specialCharacters = passworda.match(/[!"#$%&'()*+,-./:;<=>?@@[\]^_`{|}~]/g);

					if (passworda.length < 8 || passworda.length > 15) {
						MessagePassword = "Kata sandi harus terdiri dari 8 hingga 15 karakter.";
						return false;
					} else if (!uppercaseLetters || uppercaseLetters.length < 2) {
						MessagePassword = "Kata sandi harus memiliki minimal dua huruf besar.";
						return false;
					} else if (!numbers || numbers.length < 2) {
						MessagePassword = "Kata sandi harus memiliki minimal dua angka";
						return false;
					} else if (!specialCharacters || specialCharacters.length < 2) {
						MessagePassword = "Kata sandi harus memiliki minimal dua karakter khusus.";
						return false;
					}
					return true;
				});

				$.validator.messages.required = "Harap isi field ini terlebih dahulu!";
			}
		});


	</script>


</body>
</html>
